
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>EstateAgency Bootstrap Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="/custom/img/favicon.png" rel="icon">
    <link href="/custom/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="/custom/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="/custom/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/custom/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/custom/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="/custom/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="/custom/css/style.css" rel="stylesheet">

    <!-- =======================================================
      Theme Name: EstateAgency
      Theme URL: https://bootstrapmade.com/real-estate-agency-bootstrap-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
</head>
<body>
    <div class="container">
        <div class="jumbotron text-xs-center">
            <h1 class="display-3">Thất Bại!</h1>
            <p class="lead"><strong>Bạn </strong> có thể quay lại trang chủ bằng việc nhấn vào thanh button bên dưới</p>
            <hr>
            <p>
                Bạn muốn quay trở lại trang chủ ? <a href="">Nhấn vào đây</a>
            </p>
            <p class="lead">
                <a class="btn btn-primary btn-sm" href="@Url.Action("Index","TrangChu")" role="button">Trở lại trang chủ</a>
            </p>
        </div>
    </div>

</body>
</html>
